<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Project_CloStore</servlet-name>
		<servlet-class>com.epn.edu.ec.Project_CloStoreServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Cliente_Servlet</servlet-name>
		<servlet-class>com.epn.edu.ec.ClienteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Cliente_Servlet</servlet-name>
		<url-pattern>/cliente_servlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Project_CloStore</servlet-name>
		<url-pattern>/project_clostore</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>